body {
  box-sizing: border-box;
  height: 100vh;
  padding: 10px;
  overflow-y: hidden;
  background-color: white;
  background-size: cover;
  background-position: center;
}

#main {
  height: 99%;

  display: grid;
  grid-template-rows: 10vh 1fr;
  gap: 10px;
}

#header {
  grid-row: 1;

  background-color: lightblue;
  border: blue 1px solid;
  border-radius: 8px;
  height: 100%;
}

#header > p {
  font-family: sans-serif;
  font-size: 1rem;
}

#content {
  grid-row: 2;
  height: 95%;

  background-color: lightblue;
  border: blue 1px solid;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 7px;
  padding: 10px;
}

.user-card {
  background-color: #aedae8;
  border: 1px blue solid;
  border-radius: 10px;
  flex: 0 0 5vh;

  display: grid;
  grid-template-columns: 30px 25% 1fr;
  gap: 15px;
  padding: 0px 8px;
  align-items: center;
}

.user-card p {
  font-family: sans-serif;
  font-size: 1rem;
}

.score {
  grid-column: 3;
  justify-self: center;
}

.username {
  grid-column: 2;
  justify-self: start;
  align-self: center;
}

.user-logo {
  grid-column: 1;
  width: 30px;
  border-radius: 50%;
  justify-self: start;
  align-self: center;
}

