* {
  --background: var(--tg-theme-bg-color, white);
  --secondary-background: var(--tg-theme-secondary-bg-color, lightblue);
  --section-background: var(--tg-theme-section-bg-color, lightblue);
  --text-color: var(--tg-theme-text-color, black);
  --hint-color: var(--tg-theme-hint-color, white);
  --link-color: var(--tg-theme-link-color, black);
  --button-color: var(--tg-theme-button-color, darkblue);
  --button-text-color: var(--tg-theme-button-text-color, black);
  --accent-text-color: var(--tg-theme-accent-text-color, black);
}

body {
  box-sizing: border-box;
  height: 100vh;
  padding: 10px;
  overflow-y: hidden;
  background-color: var(--background);
  background-size: cover;
  background-position: center;
}

#main {
  height: 99%;
  background-color: var(--background);

  display: grid;
  grid-template-rows: 10vh 1fr;
  gap: 10px;
}

#header {
}

#header > p {
  font-family: sans-serif;
  font-size: 1rem;
}

#content {
  grid-row: 2;
  height: 95%;

  background-color: var(--secondary-background);
  border-radius: 8px;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 7px;
  padding: 10px;
}

.user-card {
  background-color: var(--section-background);
  border-bottom: 1px var(--button-color) solid;
  border-radius: 0px;
  color: var(--text-color);
  flex: 0 0 5vh;

  display: grid;
  grid-template-columns: 30px 25% 1fr;
  gap: 15px;
  padding: 0px 8px;
  align-items: center;
  transition: box-shadow 0.3s;
}

.header {
  grid-row: 1;

  background-color: var(--section-background);
  color: var(--text-color);
  border-radius: 8px;
  height: 100%;
  box-shadow: none;
}

.user-card:hover, .user-card:hover .user-card:active {
  box-shadow: 0.2rem 0.2rem 0.5rem black;
}

.user-card p {
  font-family: sans-serif;
  font-size: 1rem;
}

.score {
  grid-column: 3;
  justify-self: center;
  color: var(--accent-text-color);
}


.username {
  grid-column: 2;
  justify-self: start;
  align-self: center;
}

.user-logo {
  grid-column: 1;
  width: 30px;
  border-radius: 50%;
  justify-self: start;
  align-self: center;
}

